@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jost-medium {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.jost-semibold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.jost-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --purple: #ad1fea;
  --royal-blue: #4661e6;
  --american-blue: #373f68;
  --white: #ffffff;
  --alice-blue: #f2f4ff;
  --ghost-white: #f7f8fd;
  --american-bluish: #3a4374;
  --dark-blue-gray: #647196;
  --vivid-targine: #f49f85;
  --maya-blue: #62bcfa;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}

body {
  min-height: 100%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  background-color: var(--ghost-white);
  /* padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem)
    clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem); */
  padding-inline: clamp(1.5rem, calc(-3.867rem + 22.901vw), 7.125rem);
  padding-block: clamp(1.5rem, calc(-0.408rem + 8.142vw), 3.5rem)
    clamp(5.5rem, calc(3.592rem + 8.142vw), 7.5rem);
}
main {
  display: flex;
  flex-direction: column;
  gap: clamp(3.438rem, calc(2.662rem + 3.308vw), 4.25rem);
}

.btns-cont {
  color: #f2f4fe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  margin-block-start: clamp(2rem, calc(2.977rem + -2.036vw), 2.5rem);

  & button {
    padding-block: clamp(0.656rem, calc(0.537rem + 0.509vw), 0.781rem)
      clamp(0.656rem, calc(0.597rem + 0.254vw), 0.719rem);
    border-radius: 0.3125rem;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  & .delete-btn {
    background-color: #d73737;
    &:hover {
      background-color: color-mix(in srgb, #d73737 100%, var(--white) 100%);
    }
  }

  & .cancel-btn {
    background-color: var(--american-bluish);
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--american-bluish) 100%,
        var(--white) 100%
      );
    }
  }

  & .save-btn {
    background-color: var(--purple);
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--purple) 100%,
        var(--white) 100%
      );
    }
  }
}
.editing-cont {
  background-color: var(--white);
  position: relative;
  border-radius: 0.625rem;
  padding-inline: clamp(1.469rem, calc(0.365rem + 4.707vw), 2.625rem);
  padding-block: clamp(2.75rem, calc(2.273rem + 2.036vw), 3.25rem)
    clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);

  color: var(--american-bluish);
  & .edit-img {
    position: absolute;
    top: clamp(-1.75rem, calc(-0.773rem + -2.036vw), -1.25rem);
    left: clamp(1.5rem, calc(0.427rem + 4.58vw), 2.625rem);
    width: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
  }

  & .title {
    font-size: clamp(1.125rem, calc(0.767rem + 1.527vw), 1.5rem);
    letter-spacing: clamp(-0.021rem, calc(-0.011rem + -0.02vw), -0.016rem);
    line-height: 1.44;
    padding-block-end: clamp(1.5rem, calc(-1.542rem + 12.977vw), 4.688rem);
  }
}
.editing-form {
  display: grid;

  gap: 1.5rem;
  & label {
    display: grid;
    /* gap: 1rem; */
    font-size: clamp(0.813rem, calc(0.753rem + 0.254vw), 0.875rem);
    letter-spacing: clamp(-0.012rem, calc(-0.011rem + -0.003vw), -0.011rem);
    line-height: 1.46;

    &:has(input[type="checkbox"]:checked) + .dropdown-content {
      display: block;
    }
    & input[type="checkbox"] {
      display: none;
    }

    & input[type="text"] {
      margin-block-start: 1rem;
      text-indent: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
      border: 0;
      background-color: var(--ghost-white);
      font-size: clamp(0.813rem, calc(0.693rem + 0.509vw), 0.938rem);
      color: var(--american-bluish);
      padding-block: clamp(0.813rem, calc(1.057rem + -0.509vw), 0.938rem)
        clamp(0.813rem, calc(0.935rem + -0.254vw), 0.875rem);

      border-radius: 0.3125rem;
      &::placeholder {
        color: var(--american-bluish);
      }
    }
  }

  & textarea {
    resize: none;
    border: 0;
    border-radius: 0.3125rem;
    height: clamp(6rem, calc(8.931rem + -6.107vw), 7.5rem);
    background-color: var(--ghost-white);
    margin-block-start: 1rem;
    padding-inline: clamp(1rem, calc(0.583rem + 1.781vw), 1.438rem);
    padding-block: 1rem;
    color: var(--american-bluish);
  }

  & .subheader {
    color: var(--dark-blue-gray);
  }
}
.dropdown-cont {
  margin-block-start: 1rem;
  border-radius: 0.3125rem;
  padding-block: clamp(0.813rem, calc(1.057rem + -0.509vw), 0.938rem)
    clamp(0.813rem, calc(0.935rem + -0.254vw), 0.875rem);
  padding-inline: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
  position: relative;
  background-color: var(--ghost-white);
  padding-inline: 1rem;
  border: 1px solid transparent;
  &:has(+ input:checked) {
    &::after {
      content: url("../assets/shared/icon-arrow-up.svg");
    }
  }
  &::after {
    position: absolute;
    content: url("../assets/shared/icon-arrow-down.svg");
    right: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
  }
  &:hover {
    cursor: pointer;
    border: 1px solid var(--royal-blue);
  }
}

.dropdown-div {
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

span[data-sort-by-name] {
  text-transform: capitalize;
}

.dropdown-content {
  z-index: 99;
  display: none;
  position: absolute;
  width: 100%;
  background-color: var(--white);
  color: var(--dark-blue-gray);
  border-radius: 0.625rem;
  list-style: none;
  top: 7.375rem;
  padding: 0;
  min-width: 255px;

  box-shadow: 0 10px 40px -7px hsl(from var(--american-blue) h s l / 0.35);
  & li {
    border-top: 1px solid hsl(from var(--american-bluish) h s l / 0.15);
    font-size: 1rem;
    line-height: 1.4375;
    &:is(:hover, label:hover) {
      cursor: pointer;
      color: var(--purple);
    }
    & label {
      padding-inline: 1.5rem;
      padding-block: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
      }

      &:has(input:checked) > img {
        display: block;
      }

      & > img {
        display: none;
      }
    }

    & input[type="radio"] {
      display: none;
    }
  }
}

.go-back-cont {
  display: flex;
  justify-content: space-between;

  & .go-back-btn {
    color: var(--dark-blue-gray);
    display: flex;
    align-items: center;
    gap: 0.979rem;
    font-size: clamp(0.813rem, calc(0.753rem + 0.254vw), 0.875rem);
    line-height: 1.46;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media (min-width: 48rem) {
  body {
    padding-inline: clamp(7.125rem, calc(-16.875rem + 50vw), 28.125rem);
  }

  .btns-cont {
    flex-direction: row-reverse;

    & .delete-btn {
      margin-inline-end: auto;
    }

    & .delete-btn,
    .cancel-btn {
      max-width: 5.8125rem;
    }

    & .save-btn {
      max-width: 9rem;
    }
  }
  .editing-form {
    line-height: 1.43;
  }
  .editing-cont {
    & .feedback-title {
      line-height: 1.46;
    }
  }
}
