@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jost-semibold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.jost-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --purple: #ad1fea;
  --royal-blue: #4661e6;
  --american-blue: #373f68;
  --white: #ffffff;
  --alice-blue: #f2f4ff;
  --ghost-white: #f7f8fd;
  --american-bluish: #3a4374;
  --dark-blue-gray: #647196;
  --vivid-targine: #f49f85;
  --maya-blue: #62bcfa;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}

body {
  min-height: 100%;
  transition: all 1s ease;
}
header {
  /* display: flex; */
}
.feedback-cont {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: auto;

  & .feedback-title-cont {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    grid-row: 1;
    grid-column: -1 / 1;
  }
  & picture {
    grid-row: 1;
    grid-column: -1 / 1;
    & img {
      border-radius: 0.625rem;
    }
  }

  & button[data-mobile-menu] {
    /* margin-inline-start: auto; */
    /* display: flex;
    align-items: flex-end;
    justify-content: end;
    grid-row: 1;
    grid-column: -1 / 1; */
  }
}
