@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.jost-regular {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.jost-medium {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.jost-semibold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.jost-bold {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --purple: #ad1fea;
  --royal-blue: #4661e6;
  --american-blue: #373f68;
  --white: #ffffff;
  --alice-blue: #f2f4ff;
  --ghost-white: #f7f8fd;
  --american-bluish: #3a4374;
  --dark-blue-gray: #647196;
  --vivid-targine: #f49f85;
  --maya-blue: #62bcfa;
}
html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}

body {
  min-height: 100%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  background-color: var(--ghost-white);
  padding-inline: clamp(1.5rem, calc(0.605rem + 3.817vw), 2.438rem)
    clamp(1.5rem, calc(0.546rem + 4.071vw), 2.5rem);
  padding-block: clamp(1.5rem, calc(-0.408rem + 8.142vw), 3.5rem)
    clamp(5.5rem, calc(3.592rem + 8.142vw), 7.5rem);
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.add-comment-cont {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding-inline: clamp(1.5rem, calc(0.904rem + 2.545vw), 2.125rem)
    clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  padding-block: 1.5rem clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  border-radius: 0.625rem;
  gap: 1.5rem;

  & h1 {
    color: var(--american-bluish);
    font-size: 1.125rem;
    letter-spacing: -0.016rem;
    line-height: 1.44;
  }

  & textarea {
    border: 0;
    border-radius: 0.313rem;
    resize: none;
    background-color: var(--ghost-white);
    color: var(--american-bluish);

    height: 5rem;
    padding-inline: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem);
    padding-block: 1rem;
    font-size: clamp(0.813rem, calc(0.693rem + 0.509vw), 0.938rem);
    line-height: 1.46;
    &:is(:focus, :hover) {
      outline: var(--royal-blue) solid 1px;
      cursor: pointer;
    }

    &:placeholder-shown {
      color: #8c92b3;
    }
  }
  & .text-area-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .post-comment-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .feedback-btn {
      background-color: var(--purple);

      &:hover {
        background-color: #c75af6;
      }
    }
    & .comment-count {
      font-size: clamp(0.813rem, calc(0.693rem + 0.509vw), 0.938rem);
      line-height: 1.46;
      color: var(--dark-blue-gray);
    }
  }
}

.comments-cont {
  background-color: var(--white);
  border-radius: 0.625rem;
  padding-inline: clamp(1.438rem, calc(0.901rem + 2.29vw), 2rem)
    clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
  padding-block: 1.5rem clamp(1.5rem, calc(0.963rem + 2.29vw), 2.063rem);

  & .comments-section {
    display: flex;
    flex-direction: column;

    & .comment-cont {
      display: grid;
      row-gap: clamp(1rem, calc(0.94rem + 0.254vw), 1.063rem);
      column-gap: clamp(1rem, calc(0.046rem + 4.071vw), 2rem);

      grid-template-columns: max-content 1fr max-content;
      grid-template-areas:
        "profile-img name reply"
        "reply-para reply-para reply-para"
        "add-comment add-comment add-comment"
        "reply-section reply-section reply-section";
      padding-block: clamp(1.5rem, calc(1.023rem + 2.036vw), 2rem);
      border-bottom: 1px solid hsl(from #8c92b3 h s l / 0.25);

      & .reply-border {
        grid-area: reply-border;
        grid-column: 1 / 1;
        grid-row: 3 / -1;
        height: 100%;
        width: 1px;
        max-height: clamp(13.5rem, calc(10.458rem + 12.977vw), 16.688rem);
        background-color: hsl(from var(--dark-blue-gray) h s l / 0.1);
        /* display: none; */
      }

      & .reply-comment-cont {
        grid-area: add-comment;
        /* display: flex; */
        align-items: flex-start;
        flex-direction: row;
        gap: 1rem;
        padding: 0;

        & textarea {
          flex: 1;
        }

        & button {
          background-color: var(--purple);
        }
      }

      &:has(+ ul) {
        border-bottom: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      & .profile-img {
        grid-area: profile-img;
        width: 2.5rem;
        border-radius: 50%;
      }

      & .name-cont {
        grid-area: name;
        font-size: clamp(0.813rem, calc(0.753rem + 0.254vw), 0.875rem);

        & .name {
          text-transform: capitalize;
          color: var(--american-bluish);
          line-height: 1.46;
          letter-spacing: clamp(
            -0.012rem,
            calc(-0.011rem + -0.003vw),
            -0.011 rem
          );
        }

        & .username {
          color: var(--dark-blue-gray);
        }
      }
      & .reply-btn {
        grid-area: reply;
        margin-inline-start: auto;
        color: var(--royal-blue);
        font-size: 0.813rem;
        line-height: 1.46;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      & .reply-para {
        grid-area: reply-para;
        color: var(--dark-blue-gray);
        font-size: clamp(0.813rem, calc(0.693rem + 0.509vw), 0.938rem);
        line-height: 1.46;
        /* grid-column: 1 / -1; */
      }
    }

    & .reply-section {
      /* border-left: 1px solid hsl(from var(--dark-blue-gray) h s l / 0.1); */
      padding-inline-start: clamp(1.438rem, calc(1.378rem + 0.254vw), 1.5rem);
      grid-area: reply-section;
      & li {
        list-style: none;
      }

      & .comment-cont {
        padding-block: 0 0;
      }

      & .reply-to {
        color: var(--purple);
      }
    }
  }
}
.feedback-btn {
  margin-inline-start: auto;
  line-height: 1.46;
  display: flex;
  align-items: center;
  background-color: var(--royal-blue);
  color: var(--white);
  border-radius: 0.625rem;

  font-size: clamp(0.813rem, calc(0.753rem + 0.254vw), 0.875rem);
  padding-inline: clamp(1rem, calc(0.523rem + 2.036vw), 1.5rem)
    clamp(1.063rem, calc(0.585rem + 2.036vw), 1.563rem);
  padding-block: clamp(0.656rem, calc(0.537rem + 0.509vw), 0.781rem)
    clamp(0.656rem, calc(0.597rem + 0.254vw), 0.719rem);

  &:hover {
    background-color: #7c91f9;
    cursor: pointer;
  }
}
.go-back-cont {
  display: flex;
  justify-content: space-between;

  & .go-back-btn {
    color: var(--dark-blue-gray);
    display: flex;
    align-items: center;
    gap: 0.979rem;
    font-size: clamp(0.813rem, calc(0.753rem + 0.254vw), 0.875rem);
    line-height: 1.46;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.post {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  /* gap: clamp(1rem, calc(-0.431rem + 6.107vw), 2.5rem); */
  background-color: var(--white);
  border-radius: 0.625rem;
  grid-template-areas:
    "info info"
    "likes comments";

  align-items: center;
  padding-inline: clamp(1.563rem, calc(1.622rem + -0.254vw), 1.5rem) 1.5rem;
  padding-block: 1.5rem;

  & .info-cont {
    padding-block-end: 1rem;

    grid-area: info;
    /* display: flex;
      flex-direction: column;
      gap: 0.5rem; */

    & h2 {
      font-size: clamp(0.813rem, calc(0.514rem + 1.272vw), 1.125rem);
      letter-spacing: clamp(-0.016rem, calc(-0.007rem + -0.018vw), -0.011rem);
      line-height: 1.46;
      color: var(--american-bluish);
      margin-block-end: clamp(0.25rem, calc(0.861rem + -1.272vw), 0.563rem);
    }

    & p {
      font-size: clamp(0.813rem, calc(0.634rem + 0.763vw), 1rem);
      line-height: 1.46;
      color: var(--dark-blue-gray);
      margin-block-end: clamp(0.75rem, calc(1.239rem + -1.018vw), 1rem);
    }

    /* &:is(:hover, :has(+ .comments-cont:hover)) {
      cursor: pointer;

      & h2 {
        color: var(--royal-blue);
      }
    } */
  }

  & .likes-cont {
    grid-area: likes;
    display: flex;
    align-items: center;
    background-color: var(--alice-blue);
    width: max-content;
    height: max-content;
    border-radius: 0.625rem;
    font-size: 0.813rem;
    letter-spacing: -0.011rem;
    line-height: 1.46;
    gap: clamp(0.5rem, calc(0.744rem + -0.509vw), 0.625rem);
    color: var(--american-bluish);
    padding-inline: clamp(0.719rem, calc(1.268rem + -1.145vw), 1rem)
      clamp(0.719rem, calc(0.902rem + -0.382vw), 0.813rem);

    padding-block: clamp(0.375rem, calc(-0.102rem + 2.036vw), 0.875rem)
      clamp(0.438rem, calc(0.378rem + 0.254vw), 0.5rem);

    &:hover {
      cursor: pointer;
      background-color: #cfd7ff;
    }

    & input[type="checkbox"] {
      display: none;
    }

    &:has(input[type="checkbox"]:checked) {
      background-color: var(--royal-blue);
      color: var(--white);
    }
  }
  & .comments-cont {
    grid-area: comments;
    justify-content: flex-end;
    color: var(--american-bluish);
    font-size: clamp(0.813rem, calc(0.634rem + 0.763vw), 1rem);
    letter-spacing: clamp(-0.014rem, calc(-0.009rem + -0.01vw), -0.011rem);
    display: flex;
    align-items: center;
    gap: clamp(0.25rem, calc(0.011rem + 1.018vw), 0.5rem);
    line-height: 1.46;

    height: 100%;
    width: 100%;
    margin-inline-start: auto;
    /* &:hover {
      cursor: pointer;
    } */
  }
}
.token {
  text-transform: capitalize;
  background-color: var(--alice-blue);
  width: max-content;
  color: var(--royal-blue);
  border-radius: 0.625rem;
  padding-inline: 1rem;
  padding-block: 0.313rem 0.375rem;
  font-size: 0.813rem;
}

@media (min-width: 48rem) {
  body {
    padding-inline: clamp(2.438rem, calc(-20.134rem + 47.024vw), 22.188rem)
      clamp(2.5rem, calc(-20rem + 46.875vw), 22.188rem);

    padding-block: clamp(3.5rem, calc(1.786rem + 3.571vw), 5rem)
      clamp(7.5rem, calc(6.286rem + 2.53vw), 8.563rem);
  }
  .go-back-cont {
    & .go-back-btn {
      line-height: 1.43;
    }
  }

  .comments-cont {
    padding-block-end: clamp(2.063rem, calc(0.991rem + 2.232vw), 3rem);
    & .comments-section {
      display: flex;
      flex-direction: column;

      & .comment-cont {
        display: grid;

        grid-template-areas:
          "profile-img name reply"
          "reply-border reply-para reply-para"
          "replay-border add-comment add-comment"
          "reply-section reply-section reply-section";

        & .reply-border {
          /* grid-area: reply-border; */
          grid-row: 2 / -1;
          /* height: 100%; */
          /* width: 1px; */
          background-color: hsl(from var(--dark-blue-gray) h s l / 0.1);
          justify-self: center;
        }
      }
    }
    & .reply-section {
      margin-inline-start: 1.25rem;
    }
  }

  .post {
    grid-template-areas:
      "likes info comments"
      ". info comments";
    padding-inline: clamp(1.563rem, calc(1.063rem + 1.042vw), 2rem)
      clamp(1.5rem, calc(0.929rem + 1.19vw), 2rem);
    padding-block: clamp(1.5rem, calc(1.214rem + 0.595vw), 1.75rem);

    & .info-cont {
      padding-inline-start: 2.5rem;
      padding-block-end: 0;
      & h2 {
        line-height: 1.44;
      }

      & p {
        line-height: 1.4375;
      }
    }

    & .likes-cont {
      flex-direction: column;
    }

    & .comments-cont {
      line-height: 1.4375;
    }
  }
}
